{% extends "layout.html" %}

{% block title %}
    Buy Stocks
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" id="symbol" name="symbol" placeholder="Stock Symbol" type="text" autofocus>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Shares" type="number" autofocus>
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}
