{% extends "layout.html" %}

{% block title %}
    Sell Stocks
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <select class="form-control mx-auto w-auto" id="symbol" name="symbol" autofocus>
                <option value="" selected>Choose Symbol</option>
                {% for stock in stocks %}
                    <option value="{{stock['symbol']}}">{{stock['symbol']}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Shares" type="number" min="1" required autofocus>
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
